.fondo {
    position: fixed; /* Se posiciona fijamente en la ventana del navegador */
    top: 0; /* Se coloca en la parte superior */
    left: 0; /* Se coloca en el lado izquierdo */
    background-color: rgba(0, 0, 0, 0.336); /* Fondo oscuro semi-transparente */
    z-index: 1052; /* Asegura que el fondo esté detrás del contenido */
    height: 100%; /* Ocupa toda la altura de la ventana */
    width: 100%; /* Ocupa toda la anchura de la ventana */
    display: flex; /* Centrado con flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.floatingform {
    position: relative;
    z-index: 1055;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;
    max-height: 85vh;
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.card {
    width: 100%; /* Asegura que la tarjeta ocupe todo el espacio disponible */
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.card-body {
    padding: 15px;
}

@media (max-width: 767px) {
    .floatingform {
        width: 100%; /* Ancho del 100% en dispositivos móviles */
        max-width: 100%; /* Ancho máximo del 100% */
        height: auto; /* Altura automática */
        max-height: 90vh; /* Altura máxima del 90% del viewport height */
    }

    .card {
        width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
    }
}
