NEXT_PUBLIC_API_URL=https://api-banarica.vercel.app
NEXT_PUBLIC_API_VERSION=v1
NEXT_PUBLIC_OWN_URL=https://app-banarica.vercel.app
NEXT_PUBLIC_EVIDENCIAS_DRIVE_FOLDER_ID=1ZnxhLTlN5WROcl-oozkSJXwjI87aG4bM
