.input_group{
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 10px;
    text-align: start;
    align-items: center;
}

.input_group_semana{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.input_semana {
    width: 40px !important;
}