html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.cuerpo {
    /*padding-top: 40px;
  padding-bottom: 40px;*/
    min-height: auto;

}

.contenedor-principal {
    align-items: center;
    justify-content: center;

}

.header {
    display: block;
    margin-bottom: 40px;
    position: relative;
}

.footer {
    display: block;
    margin-top: 40px;
}

.line {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.459);
    margin-bottom: 20px;
    border-radius: 50px;
}

ul {
    list-style: none;
}