.main {
    display: grid;
    justify-content: center;
    min-height: 70vh;
    padding-top: 90px;
}

.header{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
}

.footer {
    padding: 2px;
    min-height: 20vh;
}


