.contenedor {
    padding: 20px;
    border-radius: 20px;
}

.cajaBotones {
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.botones {
    margin-right: 8px;
}

.botonesTrans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.buscar {
    margin-right: 5px;
}

.ancho {
    width: 150px;
}

.letter  {
    font-size: 14px;
}

