.tableros {
    background-color: rgba(0, 0, 0, 0.253);
    position: fixed;
    top: 49px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.padre {
    background-color: white;
    width: fit-content;
    margin: 60px auto auto auto;
    padding: 20px;
    height: 130px;
    width: 135px;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.text {
    font-weight: 500;
}