.grid_tranferencias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    grid-column-gap: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.grid_recepcion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    grid-column-gap: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.grid_recepcion :nth-child(7){
    grid-column-start: 3;
    grid-column-end: 5;
}

.grid_recepcion :nth-child(8){
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid_recepcion :nth-child(9){
    grid-column-start: 4;
    grid-column-end: 4;
}


.result {
    width: 60px;
}


.grid_result {
    display: flex;
    width: 100%;
    justify-content: center;  
    margin-top: 0px;
}

.grid_result_child2 {
    display: flex;  
    justify-content: end;  
    align-items: center;
}
.grid_result_child2 :first-child {
    flex: 40%;
    margin-right: 8px;
    height: 27.38px;
}

.grid_result_child2 :last-child {
    flex: 50%;     
}

.tabla_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 3px;
}


.botonesTrans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    width: 100%;
    justify-content:  baseline;
    align-items: center;
}

/*d-flex align-items-center mb-2*/
.resumen {
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: center;
    margin-bottom: 0.5rem;
}

.grid-tranferencias :last-child{
    align-self: stretch;
}

.lastChild{
    grid-column-start: 4 ;
    grid-column-end: 4 ;
}


@media only screen and (max-width: 850px) {
    .grid-tranferencias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 15px;
    }

    .lastChild{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .table {
        font-size: 9px;
    }

    .resumen {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .display {
        display: none;
    }

    .grid_recepcion {
        display: grid;
        grid-template-columns: 1fr !important;
        row-gap: 15px;
        grid-column-gap: 15px;
    }

    .grid_recepcion :nth-child(7){
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .grid_recepcion :nth-child(8){
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .grid_recepcion :nth-child(9){
        grid-column-start: 1;
        grid-column-end: 1;
    }


    .grid_tranferencias {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        grid-column-gap: 15px;
        margin-top: 20px;
    }

    .grid_result_child2 {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 10px;
        row-gap: 10px;
        justify-content: end;
        align-items: center;
        height: 100%;
        justify-items: left;
        font-size: 12px;
        margin-top: 5px;
    }
    
    .grid_result_child2 :last-child{
        display: flex;
        font-size: 11px;
        width: max-content;
        justify-content: end;
    }

    .grid_result {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tabla_text{
        margin-top: 3px;
        font-size: 9px;
    }

    .display{
        display: none;
    }
    
    .botonesTrans{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
    }

}