.contenedorTableros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.superTablero{
    margin: 0 12px 10px 12px;
}


.tablero {
    display: block;
    justify-content: center;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 310px;
    box-shadow: 0 0 8px rgb(210, 210, 210), inset 0 0.5px #b2b2b280;
    padding: 20px 10px 20px 20px; 
    position: relative;
}

.miniTablero{
    display: block;
    justify-content: space-between;
    align-items: center !important;
    padding-right: 10px;
    width: 100%;
    height: 223px;
    margin-top: 8px;
    overflow-y: auto;
}

.plus {
    font-weight: 750;
    margin-bottom: 10px;
}

.botonDespliegue{
    display: block;
    margin-right: 20px;
}

.botonDespliegue:focus{
    box-shadow:0 0 0 0px #0d6efd !important;
}

.alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 20px 10px 20px 10px;
    z-index: 0;
} 

.alerta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 20px 10px 20px 10px;
}

.alertText {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.eliminarAviso{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.aviso{
    margin-right: 15px;
}

.editarAviso{
    position: absolute;
    bottom: 1px;
    right: 5px;
    cursor: pointer;
}

.imagenEditar{
    opacity: 0.5;
}

.imagenEditar:hover{
    opacity: 0.8;
    cursor: pointer;
}
.circulo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0px;
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    right: 5px;
    cursor: pointer;
}

.circulo:hover{
    background-color: #0000008e;
    color: white;
}

@media only screen and (max-width: 850px) {
    .contenedorTableros{
        display: block;
        justify-content: center;
    }

    .tablero {
        display: block;
        align-items:initial;
        justify-content: center;
        background-color: white;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        height: 310px;
        box-shadow: 0 0 8px rgb(210, 210, 210), inset 0 0.5px #b2b2b280;
        padding: 20px 10px 20px 20px; 
    }

    .miniTablero{
        overflow-y: auto;
        padding-right: 10px;
        width: 100%;
        height: 223px;
        margin-top: 8px;
    }

    .alerta{
        display: block;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        padding: 20px 10px 20px 10px;
    }

    
}

