.contenedor {
  width: 900px;
  margin-top: 40px;
}

.contenedor1{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px 20px;
}

.contenedor2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.9fr;
  grid-gap: 10px 20px;
  margin-top: 10px;
}

.contenedor3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  margin-top: 10px;
}

.button {
  height: 30px;
  margin-top: 25px;
}

.tabla {
  margin-top: 20px;
}

.pagination {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


