.contenedorPadre{
    margin-top: 40px;
}



.contenedor1{
    display: grid;
    grid-template-columns: 1fr 1fr  0.9fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.contenedor2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

.contenedor3{
    display: flex;
    justify-content: space-between;
}

.contenedor4{
    display: flex;
    justify-content:end;
}

.contTraslados{
   margin-top: 10px;
}

.fecha{
    display: flex;
    text-align: center;
}

.alert{
    display: flex;
    justify-content: space-between;
}

.botonesTrans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.contenedorBotones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.select {
    display: flex;
    justify-content: center;
    height: 31px;
}